<form method="POST">
    {% csrf_token %}

    <input type="number" name="num1" placeholder="عدد اول">
    <input type="number" name="num2" placeholder="عدد دوم">

    <select name="op">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>

    <button type="submit">محاسبه</button>
</form>

<h2>{{ result }}</h2>
TEMPLATES = [
    {
        "BACKEND": "django.template.backends.django.DjangoTemplates",
        "APP_DIRS": True,
    },
]