{% load blog_tags%}

<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

    <form>
        <input type="text" name="name" placeholder="نام خود را وارد کنید">
        <input type="number" name="age" placeholder="سن خود را وارد کنید"><br>
        <input name='email' type="email" placeholder="ایمیل خود را وارد کنید">

        <button type="submit">ارسال</button>
    </form>
    <p>
        <strong>instagram:mehdiinova </strong>
    </p>
    {{posts}}
    {%for post in posts%}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <small>{{post.pyblished_date}}</small>
    
    {% endfor%}

    <h1>صفحه تست جنگو</h1>

    <p>نام کاربر: {{ name }}</p>

    {% if age >= 18 %}
        <p>شما بزرگسال هستید.</p>
    {% else %}
        <p>شما زیر ۱۸ سال هستید.</p>
    {% endif %}
<p>mamnon k hamrah ma bodid </p>
</body>
</html>